
<% layout('layout') -%>

	<div class="row">
		<div class="large-12 columns">
			<h3>Existing rules</h3>
			<hr />
			<fieldset id="rulesToDelete">
				<legend>Rules</legend>
						<%for(var i in rules_list){%>
							<div class="row">
								<form method="delete" class="deleteRule" idRule="<%=rules_list[i].id%>" action="/api/rule/<%=rules_list[i].id%>">
									<div class="large-7 columns">
										<p><%=rules_list[i].name%></p>
									</div>
									<div class="large-5 columns">
										<button type="submit" class="button tiny">Delete</button>
									</div>
								</form>
							</div>
						<%}%>
			</fieldset>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<h3>New Sensor</h3>
			<hr />
			<form method="post" id="newSensor" action="/api/actuators">
				<div class="row">
					<div class="large-4 columns">
					  <label>Device ID</label>
					  <input type="text" name="customId" id="customIdSensor" placeholder="Serial number, IP address, ..." />
					</div>
					<div class="large-4 columns">
						<label>Name of the Sensor</label>
						<input type="text" name="name" id="nameSensor" placeholder="Type the name of the actuator" />
					</div>
					<div class="large-4 columns">
						<label>Type of the Sensor</label>
						<input type="text" name="type" id="typeSensor" placeholder="Type the type of the actuator" />
					</div>
				</div>

				<button type="submit" class="button tiny success">Add</button>
			</form>
          	<hr />
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<h3>New Actuator</h3>
			<hr />
			<form method="post" id="newActuator" action="/api/actuators">
				<div class="row">
					<div class="large-4 columns">
					  <label>Device ID</label>
					  <input type="text" name="customId" id="customIdActuator" placeholder="Serial number, IP address, ..." />
					</div>
					<div class="large-4 columns">
					  <label>Name of the Actuator</label>
					  <input type="text" name="name" id="nameActuator" placeholder="Type the name of the actuator" />
					</div>
					<div class="large-4 columns">
					  <label>Type of the Actuator</label>
					  <input type="text" name="type" id="typeActuator" placeholder="Type the type of the actuator" />
					</div>
				</div>

				<button type="submit" class="button tiny success">Add</button>
          	</form>
          	<hr />
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<h3>New Rule</h3>
			<hr />
			<form id="newRule" method='post' action='/api/simpleRules?isActive=true&customId=1'>
			
				<div class="row">
					<div class="large-5 columns">
						<fieldset>
							<legend>
								<select name="sensor" id="sensor">
									<%for(var i in sensors_list){%>
										<option value="<%=sensors_list[i].id%>"><%=sensors_list[i].name%></option>
									<%}%>
							    </select>
							</legend>
							<label>Type</label>
							<input type="text" name="measureType" id="measureType" placeholder="Type of the measure">

							<label>Maximum</label>
							<input type="text" name="intervalStart" id="intervalStart" placeholder="Introduce a value">

							<label>Minimum</label>
							<input type="text" name="intervalEnd" id="intervalEnd" placeholder="Introduce a value">

						</fieldset>
					</div>

				<div class="large-5 columns">

					<div class="row">
						<div class="large-12 columns">
							<fieldset>
								<legend>
									<select name="actuator" id="actuator">
										<%for(var i in actuators_list){%>
											<option value="<%=actuators_list[i].id%>"><%=actuators_list[i].name%></option>
										<%}%>
								    </select>
								</legend>
								<label>Change to</label>
								<input type="text" name="value" id="value" placeholder="Introduce a value">

							</fieldset>
						</div>
					</div>

					<div class="row collapse">

						<div class="small-9 columns">
          					<input type="text" name="name" id="nameRule" placeholder="Name of the rule">
        				</div>

        				<div class="small-2 columns">
          					<button type="submit" class="button tiny success">Add</button>
        				</div>

					</div>
				</div>
			</div>
			</form>
			<hr />
		</div>
	</div>
	
	<div id="modal" class="reveal-modal" data-reveal>
		<h2 id="modalLabel">Wait</h2>
		<p class="lead" id="modalBody">...</p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	<script>
			
$( "#newRule" ).submit(function( event ) {
	event.preventDefault();
	$.ajax({
		type : 'POST',
		url : 'api/simpleRules',
		data: {
			actuatorId: $('#actuator').val(),
			actuatorId: $('#actuator').val(),
			value: $('#value').val(),
			measureType: $('#measureType').val(),
			intervalStart: $('#intervalStart').val(),
			intervalEnd: $('#intervalEnd').val(),
			name: $('#nameRule').val(),
		},
		success : function (html) {
			$('#modalLabel').html('New Rule');
			if (html) {
				resp = JSON.parse(html);
				
				
				if (resp.status != 'ok') {
					$('#modalBody').html('<strong>Error</strong>: Couldn\'t create the new rule <small>(' + JSON.stringify(resp.error.msg) +')</small>');
				}
				else {
					$('#modalBody').html('<strong>Success!</strong> Your new rule is now effective.');
					$('#rulesToDelete').append(
							'<div class="row">'+
							'	<form method="delete" action="/api/rule/'+resp.id+'">'+
							'		<div class="large-7 columns">'+
							'			<p>'+$('#nameRule').val()+'</p>'+
							'		</div>'+
							'		<div class="large-5 columns">'+
							'			<button type="submit" class="button tiny">Delete</button>'+
							'		</div>'+
							'	</form>'+
							'</div>');
				}
				$('#modalLabel').html('New Rule');
			}
			else {
				$('#modalBody').html('<strong>Error</strong>: Couldn\'t create the new rule <small>(Error unknown :-/)</small>');
			}
			$('#modal').foundation('reveal', 'open');
		},
		error : function (jqXHR, textStatus, errorThrown) {
			$('#modalBody').html('<strong>Error</strong>: Couldn\'t create the new rule <small>(Server Error - ' + textStatus + ', +' + errorThrown + ')</small>');
			$('#modal').foundation('reveal', 'open');
		}
	});
});

$( "#newSensor" ).submit(function( event ) {
	event.preventDefault();
	$.ajax({
		type : 'POST',
		url : 'api/sensors',
		data: {
			name: $('#nameSensor').val(),
			type: $('#typeSensor').val(),
			customId: $('#customIdSensor').val()
		},
		success : function (html) {
			$('#modalLabel').html('New Sensor');
			if (html) {
				resp = JSON.parse(html);
				
				
				if (resp.status != 'ok') {
					$('#modalBody').html('<strong>Error</strong>: Couldn\'t create the new actuator <small>(' + JSON.stringify(resp.error.msg) +')</small>');
				}
				else {
					$('#modalBody').html('<strong>Success!</strong> Your new actuator is now integrated to your Nest.');
					$('#actuator').append('<option value="'+resp.id+'">'+$('#nameSensor').val()+'</option>');
				}
				$('#modalLabel').html('New Sensor');
			}
			else {
				$('#modalBody').html('<strong>Error</strong>: Couldn\'t create the new actuator <small>(Error unknown :-/)</small>');
			}
			$('#modal').foundation('reveal', 'open');
		},
		error : function (jqXHR, textStatus, errorThrown) {
			$('#modalBody').html('<strong>Error</strong>: Couldn\'t create the new actuator <small>(Server Error - ' + textStatus + ', +' + errorThrown + ')</small>');
			$('#modal').foundation('reveal', 'open');
		}
	});
});

$( "#newActuator" ).submit(function( event ) {
	event.preventDefault();
	$.ajax({
		type : 'POST',
		url : 'api/actuators',
		data: {
			name: $('#nameActuator').val(),
			type: $('#typeActuator').val(),
			customId: $('#customIdActuator').val()
		},
		success : function (html) {
			$('#modalLabel').html('New Actuator');
			if (html) {
				resp = JSON.parse(html);
				
				
				if (resp.status != 'ok') {
					$('#modalBody').html('<strong>Error</strong>: Couldn\'t create the new actuator <small>(' + JSON.stringify(resp.error.msg) +')</small>');
				}
				else {
					$('#modalBody').html('<strong>Success!</strong> Your new actuator is now integrated to your Nest.');
					$('#actuator').append('<option value="'+resp.id+'">'+$('#nameActuator').val()+'</option>');
				}
				$('#modalLabel').html('New Actuator');
			}
			else {
				$('#modalBody').html('<strong>Error</strong>: Couldn\'t create the new actuator <small>(Error unknown :-/)</small>');
			}
			$('#modal').foundation('reveal', 'open');
		},
		error : function (jqXHR, textStatus, errorThrown) {
			$('#modalBody').html('<strong>Error</strong>: Couldn\'t create the new actuator <small>(Server Error - ' + textStatus + ', +' + errorThrown + ')</small>');
			$('#modal').foundation('reveal', 'open');
		}
	});
});

$( ".deleteRule" ).submit(function( event ) {
	event.preventDefault();
	var idRule = $(this).attr('idRule');
	$.ajax({
		type : 'DELETE',
		url : 'api/rule/'+idRule,
		success : function (html) {
			$('#modalLabel').html('New Actuator');
			if (html) {
				resp = JSON.parse(html);
				
				
				if (resp.status != 'ok') {
					$('#modalBody').html('<strong>Error</strong>: Couldn\'t remove the rule <small>(' + JSON.stringify(resp.error.msg) +')</small>');
				}
				else {
					$('#modalBody').html('<strong>Success!</strong> This rule has been removed.');
					$('.deleteRule[idRule="'+idRule+'"]').remove();
				}
				$('#modalLabel').html('New Actuator');
			}
			else {
				$('#modalBody').html('<strong>Error</strong>: Couldn\'t remove the rule <small>(Error unknown :-/)</small>');
			}
			$('#modal').foundation('reveal', 'open');
		},
		error : function (jqXHR, textStatus, errorThrown) {
			$('#modalBody').html('<strong>Error</strong>: Couldn\'t remove the rule <small>(Server Error - ' + textStatus + ', +' + errorThrown + ')</small>');
			$('#modal').foundation('reveal', 'open');
		}
	});
});
	
	</script>
