<!DOCTYPE html>
<% layout('layout') -%>

<body>

	<div class="row">
		<div class="large-12 columns">
			<h3>Existing rules:</h3>
			<hr />
			<fieldset>
				<legend>Rules</legend>
						<%for(var i in rules_list){%>
							<div class="row">
								<form method='delete' action='/api/rule/<%=rules_list[i].id%>'>
									<div class="large-7 columns">
										<p><%=rules_list[i].name%></p>
									</div>
									<div class="large-5 columns">
										<button type="submit" class="button tiny">Delete</button>
									</div>
								</form>
							</div>
						<%}%>
			</fieldset>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<h3>Change rules</h3>
			<hr />
			
			<div class="row">
				<div class="large-5 columns">
					<form method='put' action='/api/rule'>
						<fieldset>
							<legend>
								<select name="sensor">
									<%for(var i in sensors_list){%>
										<option value="<%=sensors_list[i].name%>"><%=sensors_list[i].name%></option>
									<%}%>
							    </select>
							</legend>
							<label>Type</label>
							<input type="text" name="measure_type" placeholder="Type of the measure">

							<label>Maximum</label>
							<input type="text" name="max_value" placeholder="Introduce a value">

							<label>Minimum</label>
							<input type="text" name="min_value" placeholder="Introduce a value">

						</fieldset>
				</div>

				<div class="large-5 columns">

					<div class="row">
						<div class="large-12 columns">
							<fieldset>
								<legend>
									<select name="actuator">
										<%for(var i in actuators_list){%>
											<option value="<%=actuators_list[i].name%>"><%=actuators_list[i].name%></option>
										<%}%>
								    </select>
								</legend>
								<label>Change to</label>
								<input type="text" name="change_to" placeholder="Introduce a value">

							</fieldset>
						</div>
					</div>

					<div class="row">
						<div class="large-12 columns">
							<button type="submit" class="button tiny success">Add rule</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
